#mySidebar {
    display: none;
    padding-top: 100px;
    right: 0;
    z-index: 2;
    font-size: 20px;
}

#myImage {
    width: 50%;
}

#hiddenSidebar {
    padding: 0 12px;
    position: absolute;
    right: 10px;
    top: 30px;
}

.sibebar-block {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sibebar-block a {
    text-decoration: none;
    padding: 10px;
    width: 100%;
}

.sibebar-block a:hover {
    background-color: #c2c2c2;
    color: #000;
}

.home-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/gym.jpg');
  min-height: 100%;
}

html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

footer, header, nav {
    display: block;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif !important;
}

a { 
    background-color: transparent;
    color: inherit;
}

a:active, a:hover {
    outline-width: 0;
}

button, input {
    overflow:visible;
    font: inherit;
    margin: 0;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 10px 0;

}

.sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
}

.bg-black, .bg-black:hover { 
    color: #fff!important; 
    background-color: #000!important;
}

.sidebar-animate {
    position: relative;
    animation: animateright 0.4s;
}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}

.btn-button {
    border: none;
    display: inline-block; 
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.sidebar-block {
    width: 100%;
    min-width: 100%;
    text-align: left;
    padding: 8px 16px;
}

.icon-sidebar {
    position: absolute;
    right: 0;
    font-size: 25px;
}

.page-content {
    margin-left: 50%;
}

.page-container {
    padding: 30px 16px;
}

body#page-home .page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-container {
    text-align: center;
    font-weight: bold;
    margin: 50px 0 0 0;
    font-size: 3.5em;
}

.page-container p {
    text-align: center;
    font-size: 13px;
}

.container-content {
    padding: 0 10px;
    min-height: 100vh;    
}

.about-container p {
    word-wrap: break-word;
    text-align: center;
}

footer {
    background-color: #f2f2f2;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.contact-container a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .page-content {
        margin-left: 0;
    }

    body#page-skills .ul-skills {
        flex-direction: column;
    }
}